.todoItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: #F4D3D3;
    color: black;
    padding: 10px;
    margin: 7px;
    width: 100%;
  }
  
  .todoItem:hover {
    background-color: #E8A9A9;
    transform: scale(1.05);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  }
  
  .deleteIcon {
    margin-left: auto;
    cursor: pointer;
    color: red;
    font-size: 24px;
  }

  .editIcon {
    margin-left: 0;
    margin-right: auto;
    cursor: pointer;
    color: #090580;
    font-size: 24px;
  }
  